/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jul 27, 2024, 1:45:22 PM
    Author     : nites
*/
:root {
  --animation-duration: 2s;
  --text-length: 12;
}

.wrapper {
  display: grid;
  height: 100vh;
  place-items: center
}

.typing {
  animation: typing var(--animation-duration) steps(var(--text-length)), blink .5s step-end infinite alternate;
  border-right: 3px solid;
  font: 600 clamp(2rem, 10vw, 8rem) monospace;
  overflow: hidden;
  white-space: nowrap;
  width: calc(var(--text-length) * 1ch);
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

